@model VidlyApp.ViewModels.CustomerFormViewModel
@{
    ViewData["Title"] = "New Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>New Customer</h2>

@using (Html.BeginForm("Create", "Customers", FormMethod.Post, new { @class = "row"})) {
    <div class="form-group col-md-12 mb-3">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-12 mb-3">
        @Html.LabelFor(m => m.Birthdate)
        @Html.TextBoxFor(m => m.Birthdate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
    </div>    
    <div class="form-group col-md-12 mb-3">
        @Html.LabelFor(m => m.MembershipTypeId)
        @Html.DropDownListFor(m => m.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-select" })
    </div>
    <div class="col-md-12 mb-3">
        <div class="form-check">
            @Html.CheckBoxFor(m => m.IsSubscribedToNewsletter, new {  @class = "form-check-input", id="isSubscribedToNewsletter", type = "checkbox" })
            <label class="form-check-label" for="isSubscribedToNewsletter">
                Subscribed to Newsletter?
            </label>
        </div>
    </div>    
    @Html.HiddenFor(m => m.Id)
    <div class="col-md-12 d-md-block">
    <button type="submit" class="btn btn-primary">Save</button>
    </div>
    
}